Source: jlang
Maintainer: info <info@jsoftware.com>
Uploaders: info <info@jsoftware.com>, Raul Miller <rauldmiller@gmail.com>
Section: devel
Priority: extra
Standards-Version: 3.9.5.0
Homepage: http://www.jsoftware.com

Package: jlang
Architecture: amd64
Priority: extra
Depends: libc6 (>=2.13-28)
Section: devel
Multi-Arch: allowed
Suggests: libqtcore4, libqtgui4, libqt4-opengl, libqtwebkit4, libqt4-declarative, libqt4-declarative-particles, libsqlite3-0
Homepage: http://www.jsoftware.com
Description: J interpreter
 J is a general-purpose high-performance programming language.
 J is open source, and available for Windows, Linux, Mac, 
 Android and iOS.
